### Snooker Player Status

I am an amateur player snooker player, had intentions like most to be a professional in my younger days. The game still fascinates me like it did, the first time I went into a club. Many men and women play sports at an amateur and have tried to become professional in preparation and technique. There is much more information now where is helping people to understand how a professional prepares. 

I have always wondered what the relationship is with the data I have chosen, and I am going to investigate the main factors that can contribute to your status. Not like golf, where is the handicap system for players where an amateur can aim to be a scratch player meaning they could compete professionally, snooker still hasn't developed this system.

Variables used:

players - which is the number of players for the dataset. 

##### gender - 
If the player is male or female. Not like many other sports men and women can compete in the same the tournaments. 4 women have competed on the main snooker tour since its existence, so this shows there is a big disparity in participation.

###### practice - 

For setting the range for the practice variable, I took the benchmark as 4 time world champion Mark Selby. He is a full time professional, who plays 6 hours a day. From my own knowledge that is more than likey correct and the professionals, take one day off. 36 hours a week and take approximately 4 weeks off. So the total practice time for professional is approximately 1728 hours per year. So as an amateur, I would set the maximum time to practice as 24 hours overall for a semi-professional or amateur player.

In the dataframe, the hours are based over 2 seasons and I have set the limits for the conditions based off a ratio in quarters and my own knowlegde. To be a professional you would need to be doing at least 3/4 of the time what I researched. There may be some amatuers getting near the hour limit but you also need some talent.

##### comp_match_wins - 

How many wins the player had in competitve tournament wins on national tour or main tour, for a season. The range for this is set in a two season period, you can qualify through to the main tour in many ways. In order to play in any of the events to qualify on the main tour, you would need to be the number one player in your country playing the national amateur events, so you would have to have won the most matches in that year. 

Anybody new on the professional tour would have had to had qualified through the same path. Hence I am doing 2 seasons as the wins for the previous year and wins on the main tour would have to be counted for a fair reflection. There is no true amount of wins on the professional, as the rankings are based on prize money, you want to win at least 10 matches to have a chance of staying on the main tour each season. The last full season where a player qualified as professional they had to win 14 matches. 

##### comp_centuries - 

This is how many centuries a player had in competitive tournaments overall. What this means is you accumulated 100 points or more in one visit. So you scored 100 points consecutively. 75 players who have played professionally, have scored over a 100 centuries since they were recorded. Based off this I weighted the amount for different categories.

The highest amount recorded to date by a single player is almost 1200, which 300 ahead of anybody else.

##### status - 

This is if the player is professional, semi professional or an amateur. Based off the variables I will calculate for the dataset.

In [156]:
import random
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# setting up the dataframe with columns
df = pd.DataFrame(columns=['players','gender','practice','comp_match_wins',
                           'comp_cen_class','status'])

# setting the players to 100
df['players'] = pd.Series(range(1,101))

# set choices and randomly assign male or female
gender = ['M','F']
df['gender'] = np.random.choice(gender,100, p=[0.95,0.05])

# random assign practice hours to each player
df['practice'] = np.random.randint(0, 3456, 100)

# randomly assign match wins to players
df['comp_match_wins'] = np.random.randint(0, 84, 100)

#randomly assign centuries to players
comp_cen_class = ['lvl1','lvl2']
df['comp_cen_class'] = np.random.choice(comp_cen_class,p=[0.01,0.99])

# setting conditions for status

conditions = [
    (df['practice'] > 2500) & (df['comp_match_wins']>32),
    (df['practice'] > 2500) & (df['comp_match_wins']<=32) | (df['comp_cen_class'] == 'lvl1'),
    (df['practice'] < 2500) | (df['comp_match_wins']<=32)
    ]


# Values to be assigned based on conditions
values = ['pro','semipro','ama']

df['status'] = np.select(conditions, values)

In [157]:
pd.set_option('display.max_rows', 100)

print (df)

    players gender  practice  comp_match_wins comp_cen_class   status
0         1      F      2092               79           lvl2      ama
1         2      M       805               14           lvl2      ama
2         3      F      2637               21           lvl2  semipro
3         4      M      2126               55           lvl2      ama
4         5      M      2473                7           lvl2      ama
5         6      M       745               58           lvl2      ama
6         7      F      3299               40           lvl2      pro
7         8      M      2120               56           lvl2      ama
8         9      M      2374               20           lvl2      ama
9        10      M      1031               66           lvl2      ama
10       11      M      3284                9           lvl2  semipro
11       12      M      2204                4           lvl2      ama
12       13      M       777                3           lvl2      ama
13       14      F      2491               18           lvl2      ama
14       15      M      3356               18           lvl2  semipro
15       16      F      2881               29           lvl2  semipro
16       17      M      1808               69           lvl2      ama
17       18      M      1511               79           lvl2      ama
18       19      M      2838               40           lvl2      pro
19       20      M      3228               60           lvl2      pro
20       21      M      3050               24           lvl2  semipro
21       22      M      1877               17           lvl2      ama
22       23      F      3005               36           lvl2      pro
23       24      M      1635               27           lvl2      ama
24       25      M       489               76           lvl2      ama
25       26      M      1097               72           lvl2      ama
26       27      M      2855                8           lvl2  semipro
27       28      M       334               47           lvl2      ama
28       29      M      1692               48           lvl2      ama
29       30      M       315               16           lvl2      ama
30       31      M       121               69           lvl2      ama
31       32      F       316               51           lvl2      ama
32       33      M      1570               68           lvl2      ama
33       34      M       239               61           lvl2      ama
34       35      M       725                9           lvl2      ama
35       36      M      2301               56           lvl2      ama
36       37      M      2200               57           lvl2      ama
37       38      M      2222               80           lvl2      ama
38       39      M      1088               12           lvl2      ama
39       40      M      2850               70           lvl2      pro
40       41      F      1619               19           lvl2      ama
41       42      M      2913               80           lvl2      pro
42       43      M      1088               63           lvl2      ama
43       44      F       474               11           lvl2      ama
44       45      M      2310               35           lvl2      ama
45       46      M      3057               10           lvl2  semipro
46       47      M       876               76           lvl2      ama
47       48      M      2767               32           lvl2  semipro
48       49      M       932               37           lvl2      ama
49       50      M      1877               11           lvl2      ama
50       51      M       158               28           lvl2      ama
51       52      M       366               26           lvl2      ama
52       53      M      2917               30           lvl2  semipro
53       54      M      1708               27           lvl2      ama
54       55      M      1072               72           lvl2      ama
55       56      M      1303               40           lvl2      ama
56       57      M       692               40           lvl2      ama
57       58      M      1179               71           lvl2      ama
58       59      M      2413               41           lvl2      ama
59       60      M       235               57           lvl2      ama
60       61      M       806               18           lvl2      ama
61       62      M      2885               37           lvl2      pro
62       63      M      3268               12           lvl2  semipro
63       64      M       147               40           lvl2      ama
64       65      M      3257                7           lvl2  semipro
65       66      M       573               16           lvl2      ama
66       67      M      2246               36           lvl2      ama
67       68      M       920                2           lvl2      ama
68       69      M      2577               52           lvl2      pro
69       70      M      1257               37           lvl2      ama
70       71      M       559               81           lvl2      ama
71       72      M      2485               37           lvl2      ama
72       73      M       466               64           lvl2      ama
73       74      M      2510               27           lvl2  semipro
74       75      M       377               10           lvl2      ama
75       76      M      3176               58           lvl2      pro
76       77      M       175               26           lvl2      ama
77       78      M      1689               35           lvl2      ama
78       79      M      2054               40           lvl2      ama
79       80      M      2452               35           lvl2      ama
80       81      M      1270               53           lvl2      ama
81       82      M       770               32           lvl2      ama
82       83      M      2478               60           lvl2      ama
83       84      M      1451               25           lvl2      ama
84       85      M       870               33           lvl2      ama
85       86      M      2954               73           lvl2      pro
86       87      M       629               35           lvl2      ama
87       88      M      1775               80           lvl2      ama
88       89      M      2930                7           lvl2  semipro
89       90      M        97               77           lvl2      ama
90       91      M      2120               32           lvl2      ama
91       92      M       813               76           lvl2      ama
92       93      M      1389               81           lvl2      ama
93       94      M      2916               30           lvl2  semipro
94       95      M      2588               82           lvl2      pro
95       96      M       788               43           lvl2      ama
96       97      M      2218               44           lvl2      ama
97       98      M      3419               18           lvl2  semipro
98       99      M      2495               55           lvl2      ama
99      100      M      1984               34           lvl2      ama

In [158]:
# print head to check data
df.head()

   players gender  practice  comp_match_wins comp_cen_class   status
0        1      F      2092               79           lvl2      ama
1        2      M       805               14           lvl2      ama
2        3      F      2637               21           lvl2  semipro
3        4      M      2126               55           lvl2      ama
4        5      M      2473                7           lvl2      ama

In [159]:
# check the datatypes
df.dtypes

players             int64
gender             object
practice            int32
comp_match_wins     int32
comp_cen_class     object
status             object
dtype: object

In [160]:
# show that the columns are contributing to the status types
pd.unique(df['status'])

array(['ama', 'semipro', 'pro'], dtype=object)

In [161]:
# getting the statistics of matches won which has probably the strongest
# influence on player status
df['comp_match_wins'].describe()

count    100.000000
mean      40.950000
std       23.471184
min        2.000000
25%       20.750000
50%       37.000000
75%       60.000000
max       82.000000
Name: comp_match_wins, dtype: float64