### Snooker Player Status

I am an amateur player snooker player, had intentions like most to be a professional in my younger days. The game still fascinates me like it did, the first time I went into a club. Many men and women play sports at an amateur and have tried to become professional in preparation and technique. There is much more information now where is helping people to understand how a professional prepares. 

I have always wondered what the relationship is with the data I have chosen, and I am going to investigate the main factors that can contribute to your status. Not like golf, where is the handicap system for players where an amateur can aim to be a scratch player meaning they could compete professionally, snooker still hasn't developed this system.

Variables used:

players - which is the number of players for the dataset. 

##### Gender - 
If the player is male or female. Not like many other sports men and women can compete in the same the tournaments. 4 women have competed on the main snooker tour since its existence, so this shows there is a big disparity in participation.

For setting the range for the practice variable, I took the benchmark as 4 time world champion Mark Selby. He is a full time professional, who plays 6 hours a day. From my own knowledge that is more than likey correct and the professionals, take one day off. 36 hours a week and take approximately 4 weeks off. So the total practice time for professional is approximately 1728 hours per year. So as an amateur, I would set the maximum time to practice as 860 hours overall for a semi-professional or amateur player.

###### practice - 

This is the number of the hours practice per season, for sports that have hand to eye coordination techniques this is important to get your technique sound. You need to have something that you can rely under pressure. For example, every player will have their own cue action and the best players will be able to the same steps for every shot. It’s very similar to golf.

##### comp_match_wins - 

How many wins the player had in competitve tournament wins on national tour or main tour, for a season. The range for this is set in a two season period, you can qualify through to the main tour in many ways. In order to play in any of the events to qualify on the main tour, you would need to be the number one player in your country playing the national amateur events, so you would have to have won the most matches in that year. 

Anybody new on the professional tour would have had to had qualified through the same path. Hence I am doing 2 seasons as the wins for the previous year and wins on the main tour would have to be counted for a fair reflection. There is no true amount of wins on the professional, as the rankings are based on prize money, you want to win at least 10 matches to have a chance of staying each season.

##### comp_centuries - 

This is how many centuries a player had in competitive tournaments overall. What this means is you accumulated 100 points or more in one visit. So you scored 100 points consecutively. 75 players who have played professionally, have scored over a 100 centuries since they were recorded. Based off this I weighted the amount for different categories.

The highest amount recorded to date by a single player is almost 1200, which 300 ahead of anybody else.

##### status - 

This is if the player is professional, semi professional or an amatuer. Based off the variables I will calculate for the dataset.

In [43]:
import random
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# setting up the dataframe with columns
df = pd.DataFrame(columns=['players','gender','practice','comp_match_wins',
                           'comp_cen_class','status'])

# setting the players to 100
df['players'] = pd.Series(range(1,101))

# set choices and randomly assign male or female
gender = ['M','F']
df['gender'] = np.random.choice(gender,100, p=[0.95,0.05])

# random assign practice hours to each player
df['practice'] = np.random.randint(0, 1728, 100)

# randomly assign match wins to players
df['comp_match_wins'] = np.random.randint(0, 24, 100)

#randomly assign centuries to players
comp_cen_class = ['lvl1','lvl2']
df['comp_cen_class'] = np.random.choice(comp_cen_class,p=[0.01,0.99])

In [42]:
df

    players gender  practice  comp_match_wins comp_cen_class status
0         1      M      1004               22           lvl2    NaN
1         2      M       559               11           lvl2    NaN
2         3      M      1507                8           lvl2    NaN
3         4      M      1558               20           lvl2    NaN
4         5      M       809                3           lvl2    NaN
..      ...    ...       ...              ...            ...    ...
95       96      M       482               13           lvl2    NaN
96       97      M      1086                0           lvl2    NaN
97       98      M       696                9           lvl2    NaN
98       99      M       995                6           lvl2    NaN
99      100      M       462                0           lvl2    NaN

[100 rows x 6 columns]